<!doctype html>
<html style="min-height:auto">

<head>
    <title>chrome-extension-anti-anti-adblock</title>
    <script src="popup.js"></script>
    <link rel="stylesheet" href="./style.css" />
    <meta charset="utf-8">
</head>

<body>
    <div class="wrapper">
        <div class="title">
            <div class="titleIcon"></div>
        </div>
        <div class="options">
            <div class="option" id="playPause">Play / Pause in this site</div>
        </div>
    </div>
</body>

</html>