body {
    margin: 0;
    background-color: #000000cc;
}

.wrapper {
    width: 270px;
    color: white;
}

.wrapper .title {
    padding: 0 10px;
    padding-bottom: 8px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    border-bottom: 1px solid lightgray;
}

.wrapper .title .titleIcon {
    height: 54px;
    width: 100%;
    background-image: url("./big-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    margin-right: 10px;
}

.wrapper .title .titleText .adblock {
    color: #ed1216;
    font-weight: bold;
}
.wrapper .options {
    margin-bottom: 8px;
    margin-top: 8px;
}

.wrapper .options .option {
    cursor: pointer;
    font-size: 15px;
    padding: 10px 18px;
}

.wrapper .options .option:hover {
    /* transition: all 0.5s ease-in-out; */
    background-color: #5f5f5fcc;
}